@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 0%;
		--foreground: 0 0% 100%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 0 0% 0%;
		--popover-foreground: 0 0% 100%;

		--card: 0 0% 0%;
		--card-foreground: 0 0% 100%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;

		--primary: 0 0% 100%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 0 0% 100%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 100%;

		--ring: 212.7 26.8% 83.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 0%;
		--foreground: 0 0% 100%;

		--card: 0 0% 0%;
		--card-foreground: 0 0% 100%;

		--popover: 0 0% 0%;
		--popover-foreground: 0 0% 100%;

		--primary: 0 0% 100%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 0 0% 100%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 100%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground antialiased;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}
